<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019134842060-tjmqgmkh5d1o79t14o4fb7rt8e651d8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019134842060-tjmqgmkh5d1o79t14o4fb7rt8e651d8m</string>
	<key>API_KEY</key>
	<string>AIzaSyA_JnrGpiksOjQtkFnvUM7Ftiq2qY1M51k</string>
	<key>GCM_SENDER_ID</key>
	<string>1019134842060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doodleDash.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>umbrella-jump</string>
	<key>STORAGE_BUCKET</key>
	<string>umbrella-jump.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019134842060:ios:2fa295f5097f52cc9d1e69</string>
</dict>
</plist>